:root{
    color: #000;
    background-color: #fff;

}

h2{
    text-align: center;
}

#projects-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 3em;
    padding-bottom: 5em;
}

#projects-btn-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

#project-info-con{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects{
    font-size: 1em;
    background-color: none;
    background: none;
    border: none;
}

.projects:focus{
    border-bottom: solid #000 1px;
}


#project-desc{
    align-self: center;
    width: 50%;
    display: flex;
    margin-bottom: 3em;    
}

#project-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding-left: 1%;
    padding-right: 1%;
}

/*desktop*/
@media screen and (min-width: 900px) {

    #projects{
        gap: 1px;
    }

    #project-info{
        padding-left: 5%;
        padding-right: 5%;
        width: 60%;
        border-left: solid #000 1px;
        border-right: solid #000 1px;
    }
}
    