:root {
    font-family:  'lato', sans-serif, serif;
    font-size: 1.5em;
    color: #005454;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    margin: 0em;
}

main{
    display: flex;
    justify-content: center;
    min-width: 100%;
    gap: 1em;
}

header{
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-left{
    justify-content: left;
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    flex: 1 1;
}

#title{
    transition: color 3s ease-in-out;
}

#canvas-container{
    display: none;
    justify-content: center;
}

#canvas{
    display: none;
    position: absolute;
    background-color: #005454;
};

button{
    background: none;
    border: none; 
}

button:hover{
    color: #808080;    
}

#about-section {
    display:none;
    flex-direction: column;
}

h2{
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-button{
    color: #005454;
    display: flex;
    font-size: 1em;
    background: none;
    border: none;
}

.nav-button:hover{
    color: #808080;
}

#drop{
    display: none;
    flex-direction: column;
    position: absolute;
    gap: .5em;
    padding-top: 1em;
    
}

#footer{    
    justify-content: center;
    color: #000000;
    font-size: .7em;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: 1em; 
}

/*Projects*/

#projects-section{
    margin-top: 5em;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 3em;

}
#projects-btn-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

#project-info-con{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects{
    color: #FFC98A;
    font-size: 1em;
    background-color: none;
    background: none;
    border: none;
}

.projects:focus{
    border-bottom: solid #FFC98A 1px;
}

#project-desc{
    align-self: center;
    width: 50%;
    color: #FFC98A;
    display: none;
    margin-bottom: 3em;    
}

#project-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFC98A;
    padding-left: 1em;
    padding-right: 1em;
    border-left: solid #005454 1px;
    border-right: solid #005454 1px;;
}

/*about*/

#about-info{
    color: #005454;
    background-color: #FFC98A;
    padding-top: 5em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

#contact{
    background-color: #005454;
    color: #FFC98A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

#email-container{
    display: flex;
    justify-content: center;
}

#email{
    color: #FFC98A;
}

/*desktop*/
@media screen and (min-width: 900px) {

    header{
        display: flex;
        flex-direction: row;
    }

    #project-info-con{
        background-color:#FFC98A;
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #canvas-container{
        display: none;
        justify-content: center;
    }
    
    #canvas{
        display: flex;
        position: absolute;
        background-color: #005454;
    };

    #title-left{
        font-size: 1.5em;
    }

    nav{
        display: flex;
        justify-content: right;
        width: auto;
        margin-right: 1em;
    }
    
    .nav-button {
        display: inline;
        font-size: 1em;
        color: #005454;
    }

/*about*/
    
    #project-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #005454;
        width: 50%;
        padding-left: 1em;
        padding-right: 1em;
        border-left: solid #005454 1px;
        border-right: solid #005454 1px;;
    }

    #project-desc{
        align-self: center;
        width: 50%;
        color: #FFC98A;
        display: none;
        margin-bottom: 3em;    
    }
}

/*tablet*/
@media screen and (min-width: 750px) {

    main {
        flex-direction: column;
    }

    #projects{
        gap: 1px;
    }

    #title-left{
        font-size: 1.5em;
        justify-content: left;
        display: flex;
        margin-left: 1em;
        margin-right: 1em;
        flex: 1 2;
    }

    #canvas-container{
        display: none;
        justify-content: center;
    }
    
    #canvas{
        display: flex;
        position: absolute;
        background-color: #005454;
    };

    header{
        display: flex;
        flex-direction: row;
    }

    nav{
        display: flex;
        justify-content: right;
        width: auto;

    }
    
    .nav-button {
        display: inline;
        font-size: 1.5em;
        font-size: 1.2em;
    }

/*about*/

    #about-info{
        font-size: 25px;
    }
}
